* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main_container {
    background-color: gray;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 40%;
    border-radius: 20px;
}

.subcontainer {
    border-radius: 10px;
    padding: 0 10px;
    display: inline-block;
}

.subcontainer h1 {
    padding: 10px;
    color: rgb(6, 27, 44)
}

.subcontainer #defpal {
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.resu {
    margin: 20px 0;
    /* width: 40%; */
}

input[type="text"] {
    text-align: center;
    border-radius: 5px;
    outline: none;
    padding: 10px 5px;
    font-size: 1.2rem;
    border: none;
    border: 2px solid grey;
}

input[type="text"]::placeholder {
    text-align: center;
}

#palindromebtn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: rgb(43, 10, 70);
    color: white;
}

#palindromebtn:hover {
    background-color: rgb(85, 12, 145);
}

#palindromebtn:active {
    transform: scale(0.9, 0.9);
}

.resu .yes {
    color: green;
    display: none;
    font-size: 1.2rem;
}

.resu .no {
    color: red;
    display: none;
    font-size: 1.2rem;
}